<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="model/static/terms.css">
  <title>Terms and Conditions</title>
</head>
<body>
  <div class="container">
    <h1>Terms and Conditions</h1>
    
    <p>Last updated: 20 May 2023</p>

    <h2>1. Acceptance of Terms</h2>
    <p>By accessing and using the PythonPhishGuard website, you agree to comply with and be bound by the following terms and conditions.</p>

    <h2>2. Description of Service</h2>
    <p>PythonPhishGuard provides a platform for detecting and analyzing the authenticity of URLs and emails to determine if they are potentially malicious (phishing) or benign.</p>

    <h2>3. Intellectual Property</h2>
    <p>All content and materials available on the PythonPhishGuard website, including but not limited to text, graphics, logos, button icons, images, audio clips, data compilations, and software, are the property of PhishOrBenignDetect or its licensors and are protected by applicable copyright laws.</p>

    <h2>4. Disclaimer of Warranties</h2>
    <p>The PythonPhishGuard website and its services are provided on an "as is" and "as available" basis, without warranties of any kind, whether expressed or implied. PythonPhishGuard does not warrant that the website will be uninterrupted, secure, or error-free.</p>

    <h2>5. Limitation of Liability</h2>
    <p>PythonPhishGuard shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to, damages for loss of profits, goodwill, data, or other intangible losses resulting from the use or inability to use the website or its services.</p>

    <h2>6. Governing Law</h2>
    <p>These terms and conditions shall be governed by and construed in accordance with the laws of your jurisdiction.</p>

    <h2>7. Changes to the Terms and Conditions</h2>
    <p>PythonPhishGuard reserves the right to modify or replace these terms and conditions at any time. It is your responsibility to review the terms periodically for any changes. Your continued use of the website after any modifications to the terms will signify your acceptance of those changes.</p>

    <hr>

    <div class="copyrigh">
      &copy; 2023 PythonPhishGuard. All rights reserved.
    </div>
  </div>

  
  <script src="script.js"></script>
</body>
</html>
